name: penguins-classification
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pandas
  - numpy
  - scikit-learn
  - seaborn
  - matplotlib
  - flask
  - jupyter
  - requests
  - ipykernel
